*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.first{
  background-color: #004643;
  height: 100vh;
  padding: 10px;
}

nav{
  display: flex;
  margin-left: 20%;
  padding: 20px 0px;
  justify-content: space-around;
  width: 80%;
  
}
nav a{
  color: #fffffe;
  text-decoration: none;
  font-size: 20px;
}

div.first header div.head{
  margin: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
}

header{
  height: 100%;
  display: flex;
  justify-content: space-around;
}

header img{
  height: 25em;
  width: 18em;
  margin: auto 20px;
  border-radius: 10px;
}
div.head h1{
  color: #fffffe;
  font-size: 7rem;
}

div.head h3{
  color: #abd1c6;
  font-size: 30px;
}

div.head button{
  width: 50%;
  padding: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #f9bc60;
  border-radius: 5px;
  color: #001e1d;
  font-weight: bold;
}


div.second{
  
  background-color: #abd1c6;
  padding: 20px;
}
div.second h1{
  color: #001e1d;
  font-size: 4rem;
  text-align: center;
  margin: 10px;
}
div.second h2{
  color: #001e1d;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}
div.features div.pdf, div.image{
  display: flex;
  width: 70%;
  margin: 5% auto;
  justify-content: space-around;
}

div.pdf p, div.image p{
  width: 50%;
  font-size: 1.4rem;
  line-height: 2;
  color: #0f3433;
}
div.pdf img, div.image img{
  height: 30em;
  width: 20em;
  border-radius: 10px;
}


div.team{
  background-color: #004643;
  height: 100vh;
  padding: 10px;
}
div.team h1{
  color: #fffffe;
  font-size: 4rem;
  text-align: center;

}
div.members{
  display: flex;
  flex-direction: row;
  height: 100%;
  /* width: 80%; */
  margin: 5px auto;
  align-items: center;
  justify-content: space-around;
  
}
div.members > *{
  background-color: #e8e4e6;
  width: 25%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-; */
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
div.members p{
  color: #001e1d;
  font-size: 1.2rem;
  
}
div.members img{
  height: 12em;
  width: 10em;
  border-radius: 50%;
}

